In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Practicas/datos_solares.csv')

In [3]:
df.describe()

,Potencia posible,Potencia real,Temperatura ambiente,Irradiancia panel [kWh/m2],Irradiancia horizontal [kWh/m2]
count,16135.000000,16135.000000,16135.000000,16135.000000,16135.000000
mean,24.767906,21.804508,13.653796,302.809854,245.342175
std,43.636281,38.471152,8.435715,372.866417,326.713955
min,0.000000,0.000000,-4.000000,-2.000000,-7.000000
25%,0.000000,0.000000,8.000000,4.000000,0.000000
50%,0.061000,0.012000,13.000000,8.000000,2.000000
75%,25.035000,25.500000,18.000000,756.000000,538.000000
max,191.741000,179.301000,45.000000,1027.000000,985.000000

In [4]:
df.columns   #atributo del dataframe

Index(['Fecha-hora', 'PARQUE', 'Potencia posible', 'Potencia real',
       'Temperatura ambiente', 'Irradiancia panel [kWh/m2]',
       'Irradiancia horizontal [kWh/m2]'],
      dtype='object')

In [11]:
parques_unicos = df['PARQUE'].unique()
parques_unicos[0]

'MALARGUE'

In [18]:
filas_malargue = df['PARQUE'] == 'MALARGUE'
minimo = df[filas_malargue]['Temperatura ambiente'].min()
maximo = df[filas_malargue]['Temperatura ambiente'].max()
print(minimo, maximo)

-4 23

# objetivo: 
tener un dataframse cuyas columnas sean los parques
sin repetir y las filas los valores estadísticos de
la temperatura indicados por el índice del datarame

`df_nuevo.index` -> minimo, maximo, etc..

In [20]:
pd.DataFrame( {'MALARGUE':[-4, 23]}, index = ['tmin', 'tmax'])

      MALARGUE
tmin        -4
tmax        23

In [26]:
# manera maty
diccio = {}
for parque in parques_unicos:
    filas = df['PARQUE'] == parque
    minimo = df[filas]['Temperatura ambiente'].min()
    maximo = df[filas]['Temperatura ambiente'].max()
    diccio[parque] = [minimo, maximo]
df_obj = pd.DataFrame(diccio, index = ['tmin','tmax'])

df_obj

,MALARGUE,PSANCH,PSTOC III,PSULLUM I,PSULLUM II,PSULLUM III,SIERRAS ULL
tmin,-4,-3,0,3,3,3,4
tmax,23,45,25,34,34,34,35

In [29]:
df_obj = pd.DataFrame()
for parque in parques_unicos:
    filas = df['PARQUE'] == parque
    minimo = df[filas]['Temperatura ambiente'].min()
    maximo = df[filas]['Temperatura ambiente'].max()
    df_obj[parque] = pd.Series([minimo, maximo], index = ['tmin','tmax'])

In [30]:
df_obj

,MALARGUE,PSANCH,PSTOC III,PSULLUM I,PSULLUM II,PSULLUM III,SIERRAS ULL
tmin,-4,-3,0,3,3,3,4
tmax,23,45,25,34,34,34,35